<div class= "container">
<div class="jumbotron">
  <div class="row">
  <div class="col-lg-8">
    <h1>Users</h1>
    <%= link_to 'New User', new_user_path, class:"btn btn-success btn-lg"%>
  </div>
  <div class="col-lg-2">
    <%= image_tag("ZeldaLogo.jpg", :size => "281x209") %>
  </div>
</div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
        <td>
          <div class="btn-group">
            <%= link_to 'Show', user, class:"btn btn-primary" %>
            <%= link_to 'Edit', edit_user_path(user), class:"btn btn-warning" %>
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
          </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
