<div class= "container">
<div class="jumbotron">
  <div class="row">
  <div class="col-lg-8">
    <h1>Items</h1>
    <%= link_to 'New Item', new_item_path, class:"btn btn-success btn-lg" %>
  </div>
  <div class="col-lg-2">
    <%= image_tag("ZeldaLogo.jpg", :size => "281x209") %>
  </div>
</div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Temple</th>
      <th>Game</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.temple.name %></td>
        <td><%= item.temple.game.name %></td>
        <td><img src=<%= item.picture_url %> height="100" width="100"> </img> </td>
        <td>
          <div class="btn-group">
          <%= link_to 'Show', item, class:"btn btn-primary" %>
          <%= link_to 'Edit', edit_item_path(item), class:"btn btn-warning" %>
          <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>