<%= form_for(@temple) do |f| %>
  <% if @temple.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@temple.errors.count, "error") %> prohibited this temple from being saved:</h2>

      <ul>
      <% @temple.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-lg-5">
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :picture_url %><br>
    <%= f.text_field :picture_url %>
  </div>
  <div class="field">
    <%= f.label :mini_boss %><br>
    <%= f.text_field :mini_boss %>
  </div>
  <div class="field">
    <%= f.label :boss %><br>
    <%= f.text_field :boss %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.select(:game_id, options_from_collection_for_select(Game.all, :id, :name)) %>
  </div>
</div>
<div class="col-lg-5">
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
</div>
</div>
  <div class="actions">
    <%= f.submit %>
    <% end %>
  </div>

